<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ site.name }}">

{% if page.excerpt %}
<meta name="description" content="{{ site.description }}">
{% else %}
<meta name="description" content="This is a place to put my thoughts down, as well as tutorials and accomplishments, either emotionally, mentally, physically, or career wise. I hope that sharing this part of my life can help others accomplish things they wish.">
{% endif %}

{% if page.title %}
<meta property="title" content="{{ page.title }}">
{% else %}
<meta property="title" content="Remillard's Thoughts">
{% endif %}